/* Reset some default styles for better consistency */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.logout-btn {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #d9534f;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
}

h1 {
    font-size: 6em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.todo-form {
    display: flex;
    margin-bottom: 20px;
}

.todo-input {
    width: 500px;
    padding: 10px;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.submit-btn {
    padding: 10px 15px;
    background-color: #5bc0de;
    color: #fff;
    border: 1px solid #46b8da;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.todo-item-container {
    max-width: 600px;
    margin: 0 auto;
}

ul {
    list-style: none;
    width: 600px;
}

.todoItem {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.not {
    margin-right: 100px;
}

.del {
    color: #d9534f;
    cursor: pointer;
}

/* Add hover effect for delete button */
.del:hover {
    text-decoration: underline;
}


