* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

h1{
    color: black;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 100px;
    font-size: 4rem;
}

h2 {
    margin-top: 100px;
    text-align: center;
}


li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-flow: wrap;
}


.completed{ 
    text-decoration: line-through;
    color: gray;
    font-size: 1.5rem;
}


.todo-item-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.not {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.5rem;
}

.del {
    padding: 8px 10px;
    background: rgb(207, 6, 6);
    color: white;
    border-radius: 8px;
    cursor: pointer;

}

.todo-form {
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.todo-input {
    padding: 4px 10px;
    border-radius: 8px;
    width: 334px;
    font-size: 1.4rem;

}

.submit-btn {
    border-radius: 8px;
    padding: 8px 10px;
    background: black;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.logout-btn {
    padding: 8px 10px;
    border-radius: 8px;
    background: black;
    color: white;
    cursor: pointer;
    text-align: center;
}